<div>
    <h1 class="titulo">Chat grupal</h1>
</div>
<a href="http://localhost:8080/" class="enviar">Volver a inicio</a>
    
    <div class="contenedorMensajes">
    <p class="mensajes"id="logsPanel"></p>

    </div>
 <div class="contenedorEscritura">
    <input class="escritura" placeholder=" Escriba su mensaje.." type="text" id="textito">
</div>
 


<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="socket.io/socket.io.js"></script>
<script src="js/chat.js"></script>
